.App {
  min-height: 100vh;
  /* background-color: #bedbbb; */
  background-color: #8db596;
}

.search__form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search__button {
  background-color: lightseagreen;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
